html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.main {
  border-bottom: #333 1px solid;
  padding: 30px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

h2 {
  color: #369;
  font-size: 30px;
  font-weight: bold;
}

.artist-header {
  margin-bottom: 20px;
  min-height: 100px;
}

.artist-thumb {
  width: 120px;
  height: 100px;
  float: left;
  margin-right: 20px;
  border: 5px solid #333;
  border-radius: 5px;
}

.artist-albums .well {
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
}

.well a {
  text-decoration: none;
  color: #1f79a3;
}

.well {
  transition: all .5s ease;
}

.well.selected {
  border-left: 4px solid #ffffff;
  background: #43cea2;
  background: -webkit-linear-gradient(to left, #43cea2 , #1f79a3);
  background: linear-gradient(to left, #43cea2 , #1f79a3);
}

.album {
  text-align: center;
  background-color: #151515;
  padding: 10px 20px;
  border: #333 1px solid;
  padding: 20px;
}

.album:hover {
  background-color: #252525;
}


.album a {
  background-color: #252525;
  color: #cccccc;
  transition: background-color .5s, color .5s;
}

.album a:hover {
  background-color: #353535;
  color: #ffffff;
}

.album h4 {
  color: #ffffff;
  min-height: 100px;
}

.album-thumb {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.artist-list a {
  color: #2a9fd6;
  font-weight: bold;
}
.artist-list:hover {
  border-left: 1px solid #1f79a3;
  background-color: #202020;
}

.well.selected a {
  font-weight: bold;
  color: #ffffff;
}

.song-list {
  margin-bottom: 100px;
}

.dark {
  background-color: #060606;
  border-color: #555555;
}

.song {
  background-color: #151515;
}

.song:hover {
  background-color: #252525;
}

